.headerTitle {
  color: orangered;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: dimgray;
  font-weight: bold;
  font-size: 30px;
}

body {
  font-family: Montserrat, sans-serif;
}

h2 {
  display: inline-block;
}

h6 {
  color: black;
}
.npm-command {
  color: sienna;
  font-weight: 700;
}
.pckg-json {
  color: teal;
  font-weight: 700;
}
